@page "/forgot-password"
<h3>ForgotPassword</h3>

<EditForm Model="_userForgotPassword" OnValidSubmit="SubmitForgotPassword" class="card card-body bg-light mt-5">
    <DataAnnotationsValidator />
    <div class="form-group row">
        <label for="email" class="col-md-2 col-form-label">Email:</label>
        <div class="col-md-10">
            <InputText id="email" class="form-control" @bind-Value="_userForgotPassword.Email" />
            <ValidationMessage For="@(() => _userForgotPassword.Email)" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">Send Reset Link</button>
        </div>
    </div>
</EditForm>