<div class="response-display">

    <div class="response-header d-flex justify-content-between align-items-center mb-3">
        <div>
            Date answered: @Response.DateAnswered.ToString("dd.MM.yyyy HH:mm:ss")
        </div>
    </div>

    <_QuestionList Questions="Survey.Questions" SurveyResponse="Response" IsReadOnly="true"/>
</div>