<div class="option-editor mt-3">
    <h5>Options</h5>

    @foreach (var option in options)
    {
        <div class="form-group">
            @if (QuestionType == Models.QuestionType.CLOSED_SINGLED)
            {
                <input type="radio" disabled /> 
            }
            else 
            {
                <input type="checkbox" disabled /> 
            }
            <input type="text" class="form-control d-inline-block" style="width:90%" @bind="option.TextOption" />
        </div>
    }

    <button type="button" class="btn btn-secondary btn-sm" @onclick="AddOption">Add Option</button>
</div>