@page "/unathorized"

<div class="unauthorized-container">
    <div class="unauthorized-content">
        <h1>Access Denied</h1>
        <p>Sorry, you do not have permission to view this page.</p>
        <p>Please log in to continue.</p>
    </div>
</div>