<section>
    <select class="form-control" @onchange="ApplySort">
        <option value="-1">- Sort By -</option>
        <option value="title">Title</option>
        <option value="dateCreated">Date created</option>
        <option value="totalResponses">Number of responses</option>
    </select>
</section>